* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.logo-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Logo-img {
  display: flex;
  height: 100px;
  margin-top: -55px;
  align-items: center;
  justify-content: center;
}